.full-width {
  flex: 1;
  min-width: 220px;
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
.combined{
  width: 40%;
  float: left;

}
.combined2{
  width: 60%;
  float: left;
}
.main-map{
  width:500px;
}
.kalideres{
  position: absolute;
  width: 115px;
  margin-top: 12px;
  margin-left: -2px;
  cursor: pointer;
}
.cengkareng{
  position: absolute;
  width: 120px;
  margin-top: 124px;
  margin-left: 53px;
  cursor: pointer;
}

.kembangan{
  position: absolute;
  width: 90px;
  margin-top: 177px;
  margin-left: 70px;
  cursor: pointer;
}
.jeruk{
  position: absolute;
  width: 60px;
  margin-top: 180px;
  margin-left: 128px;
  cursor: pointer;
}

.grogol{
  position: absolute;
  width: 65px;
  margin-top: 155px;
  margin-left: 160px;
  cursor: pointer;
}
.jakbar{
  position: absolute;
  width: 500px;
  margin-top: 15px;
  margin-left: 0px;
  cursor: pointer;
}
td{
  border: 1px solid rgba(92,184,92,.5);
  padding:10px 30px 5px 20px;
}

.bars{
  height: 12px;
  width: 70px;
  border: 1px solid rgba($color: #333, $alpha: .3);
  border-radius: 20px;
  padding: 2px;
}

.inside{
  height: 6px;
  border-radius: 20px;
}

.tbl tr:nth-child(even) {
  height: 30px;
  padding-top: 5px;
  border: rgba(92,184,92,.5) 1px solid;
  background-color: rgba(92,184,92,.1) ;
}
.tbl tr{
  height: 30px;
  padding-top: 5px;
  border: rgba(92,184,92,.5) 1px solid;
  background-color: transparent;
}

////////////////////////
.zui-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  margin-top: -54px;
  margin-bottom: 20px;
}
.zui-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table th {
  background-color: #DDEFEF;
  // border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.zui-table-rounded {
  border: none;
}
.zui-table-rounded thead th {
  background-color: darkcyan;
  border: none;
  text-shadow: 1px 1px 1px #ccc;
  color: white;
}
.zui-table-rounded thead th:first-child {
  border-radius: 10px 0 0 0;
}
.zui-table-rounded thead th:last-child {
  border-radius: 0 10px 0 0;
}
.zui-table-rounded tbody td {
  border: none;
  border-top: solid 1px darkcyan;
  background-color: lightcyan;
}
.zui-table-rounded tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

/////////////////////

.gui-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.gui-table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.gui-table th {
  background-color: #DDEFEF;
  // border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.gui-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
}
.gui-table-rounded {
  border: none;
}
.gui-table-rounded thead th {
  background-color: darkcyan;
  border: none;
  text-shadow: 1px 1px 1px #ccc;
  color: white;
}
.gui-table-rounded tbody tr:first-child {
  border-radius: 0px 0 0 0;
  border-top-left-radius: 10px;
}
.gui-table-rounded thead th:first-child {
  border-radius: 10px 0 0 0;
}

.gui-table-rounded tbody td {
  border: none;
  border-top: solid 1px darkcyan;
  background-color: lightcyan;
}
.gui-table-rounded tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
// .gui-table-rounded tbody tr:last-child td:last-child {
//   border-radius: 0 0 10px 0;
// }