<div class="row"> 
  <div class="col-xxxl-12">
      <nb-card>
          <nb-card-header>New vs Churned Customers</nb-card-header>
          <nb-card-body>
              
            <div class="combined">
              <div echarts [options]="options" class="echart"></div>
            </div>
            <div class="combined">
              <div echarts [options]="losted" class="echart"></div>
            </div>
            
          </nb-card-body>
        </nb-card>
  </div>
      <div class="col-xxxl-12">
        
          <nb-card>
            <nb-card-header>Lost Contribution</nb-card-header>
            <nb-card-body>
                <div class="combined">
                    <div align="center">
                        <div class="dropdown col-5" style="display:inline-block;" ngbDropdown>
                            <button type="button" ngbDropdownToggle class="btn"
                                    [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                              {{ stage }}
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                              <li class="dropdown-item" *ngFor="let t of stages" (click)="selctLost(t)">{{ t }}</li>
                            </ul>
                          </div>
        
                          <div class="dropdown col-6" style="display:inline-block;" ngbDropdown>
                              <button type="button" ngbDropdownToggle class="btn"
                                      [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                                {{ month }}
                              </button>
                              <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item" *ngFor="let t of months" (click)="month = t">{{ t }}</li>
                              </ul>
                            </div>
                          </div>
                          <div align="center">
                          <div echarts [options]="pies" class="echart" style="margin-top:15px;"></div>
                          </div>
                  </div>
              <div class="combined" >
                <div align="center">
                  <div class="dropdown col-5" style="display:inline-block;" ngbDropdown>
                      <button type="button" ngbDropdownToggle class="btn"
                              [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                        {{ type }}
                      </button>
                      <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item" *ngFor="let t of types" (click)="type = t">{{ t }}</li>
                      </ul>
                    </div>
  
                    <div class="dropdown col-6" style="display:inline-block;" ngbDropdown>
                        <button type="button" ngbDropdownToggle class="btn"
                                [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                          {{ areai }}
                        </button>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                          <li class="dropdown-item" *ngFor="let t of areas" (click)="areai = t">{{ t }}</li>
                        </ul>
                      </div>
                    </div>
                  <div align="center">
                      <img class="jakbar" src="./assets/images/maps/Jakbar.png" (click)="mapBtn(6)">
                      <img class="cengkareng" src="./assets/images/maps/Cengkareng.png" (click)="mapBtn(2)">
                      <img class="kalideres" src="./assets/images/maps/Kalideres.png" (click)="mapBtn(1)">
                      
                      <img class="kembangan" src="./assets/images/maps/Kembangan.png" (click)="mapBtn(5)">
                      <img class="jeruk" src="./assets/images/maps/Jeruk.png" (click)="mapBtn(3)">
                      <img class="grogol" src="./assets/images/maps/Grogol.png" (click)="mapBtn(4)">
                    <img src="./assets/images/maps/Jakarta.png" class="main-map" style="margin-top:15px;border-radius:5px;cursor:pointer;">
                  </div>
              </div>
              
            </nb-card-body>
          </nb-card>
      </div>
      <div class="col-xxxl-12">
          <nb-card>
              <nb-card-header>Customer Feedback</nb-card-header>
              <nb-card-body>
                  
                  <div class="combined">
                     
  <nb-tabset fullWidth (changeTab)="tabs($event)">
      
      <nb-tab tabTitle="Customer Feedback" >
  
        <div class="slider-container">
          <ngx-temperature-dragger [(value)]="temperature" (power)="temperatureOff = !$event"
                                   [min]="12" [max]="30" [disableArcColor]="colors.layoutBg"
                                   [fillColors]="colors.temperature">
  
            <div class="slider-value-container"  [ngClass]="{ 'off': temperatureOff }">
              <div class="value temperature">
                {{ temperatureOff ? '--' : (temperature | ngxRound) }}
              </div>
              <!--<div class="desc">
                Celsius
              </div>-->
            </div>
          </ngx-temperature-dragger>
        </div>
  
        <div [(ngModel)]="temperatureMode" ngbRadioGroup data-toggle="buttons"
             class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width">
          <label class="btn btn-icon">
            <input type="radio" value="cool"/><i class="nb-snowy-circled"></i>
          </label>
          <label class="btn btn-icon">
            <input type="radio" value="warm"/><i class="nb-sunny-circled"></i>
          </label>
          <label class="btn btn-icon">
            <input type="radio" value="heat"/><i class="nb-flame-circled"></i>
          </label>
          <label class="btn btn-icon">
            <input type="radio" value="fan"/><i class="nb-loop-circled"></i>
          </label>
        </div>
      </nb-tab>
  
      <nb-tab tabTitle="Social Media">
  
        <div class="slider-container">
          <ngx-temperature-dragger [(value)]="humidity" (power)="humidityOff = !$event"
                                   [min]="0" [max]="100" [disableArcColor]="colors.layoutBg"
                                   [fillColors]="colors.temperature">
  
            <div class="slider-value-container"  [ngClass]="{ 'off': humidityOff }">
              <div class="value humidity">
                {{ humidityOff ? '--' : (humidity | ngxRound) }}
              </div>
            </div>
          </ngx-temperature-dragger>
        </div>
  
        <div [(ngModel)]="humidityMode" ngbRadioGroup data-toggle="buttons"
             class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width">
          <label class="btn btn-icon">
            <input type="radio" value="cool"/><i class="ion ion-social-twitter"></i>
          </label>
          <label class="btn btn-icon">
            <input type="radio" value="warm"/><i class="ion ion-social-facebook"></i>
          </label>
          <label class="btn btn-icon">
            <input type="radio" value="heat"/><i class="ion ion-social-googleplus"></i>
          </label>
          <label class="btn btn-icon">
            <input type="radio" value="fan"/><i class="ion ion-social-instagram-outline"></i>
          </label>
        </div>
      </nb-tab>
    </nb-tabset>
  
  
                  </div>
                <div class="combined">
                  <img [src]="img" class="feedback">
                </div>
                
              </nb-card-body>
            </nb-card>
      </div>
</div>
