<div class="col-xxxl-12">
    <nb-card>
        <nb-card-header (click)="mapBtn()" style="cursor: pointer;">Back</nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-xxxl-12">
<nb-card>
    <nb-card-header>Bussiness Rules</nb-card-header>
    <nb-card-body>
        <div class="combined1">
        <div align="center" style="padding:10px;">
            <p class="detail font-w-light">ACCEPTABLE <b>CHURN RATE</b></p>
            <div class="input-group mail-btn-group">
                <span class="input-group-prepend">
                    <button class="btn btn-primary input-group-text">
                    Global
                    </button>
                </span>
                <input type="text" class="form-control" [(ngModel)]="global"  (ngModelChange)="getGlobal($event)" placeholder="0">
                <span class="input-group-append">
                    <button class="btn btn-primary input-group-text">
                    %
                    </button>
                </span>
                </div>
            </div>
            <div class="input-group" style="padding:10px;">
                    <div class="dropdown input-group-btn" ngbDropdown>
                        <select class="form-control"  [(ngModel)]="segment" (ngModelChange)="getSegment()">
                            <!-- <option *ngFor="let segment of segmentArray" [value]="segment.value">{{segment.name}}</option> -->
                            <option value="0">Segment</option>
                            <optgroup label="Life Stages">
                                    <option value="10">Milenials</option>
                                    <option value="40">Young Adult</option>
                                    <option value="20">Family</option>
                                    <option value="20">Traditional</option>
                                  </optgroup>
                                  <optgroup label="Customer Value">
                                    <option value="25">Hi Net</option>
                                    <option value="30">Deal Hunters</option>
                                    <option value="20">Occasional</option>
                                    <option value="25">Opportunity</option>
                                  </optgroup>
                                  <optgroup label="Banking Product">
                                    <option value="40">Saving</option>
                                    <option value="25">Credit Card</option>
                                    <option value="20">Loan</option>
                                    <option value="10">Insurance</option>
                                    <option value="5">Investment</option>
                                  </optgroup>
                        </select>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="selectedSegment">
                    <span class="input-group-append">
                            <button class="btn btn-primary input-group-text">
                            %
                            </button>
                        </span>
                </div>
                <div class="input-group" style="padding:10px;">
                        <div class="dropdown input-group-btn" ngbDropdown>
                            <select class="form-control"  [(ngModel)]="area" (ngModelChange)="getArea()">
                                <!--<option *ngFor="let area of areaArray" [value]="area.value">{{area.name}}</option>-->
                                    <option value="0">Area</option>
                                    <option value="1">Kalideres</option>
                                    <option value="4">Kembangan</option>
                                    <option value="3">Grogol</option>
                                    <option value="1">Kebon Jeruk</option>
                                    <option value="2">Cengkareng</option>
                                    <option value="5">Jakarta Barat</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="selectedArea">
                        <span class="input-group-append">
                                <button class="btn btn-primary input-group-text">
                                %
                                </button>
                            </span>
                    </div>
            <p class="detail font-w-light" align="center" style="margin-top:20px;">ENTER CHURN <b>PREVENTION BUDGET</b></p>   
            <div class="input-group mail-btn-group" style="padding:10px;">
                <span class="input-group-prepend">
                    <button class="btn btn-primary  input-group-text">
                    Rp.
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="0">
            </div>
            <div align="center" style="margin-bottom:10px;">
            <button type="button" (click)="optBtn()" class="btn btn-warning">OPTIMUM ALLOCATION</button>
        </div>
    </div>
    <div class="combined2">
            <div echarts [options]="options" class="echart"></div>
    </div>
    <div class="combined2">
            <div echarts [options]="line" class="echart"></div>
    </div>
    </nb-card-body>
</nb-card>
</div>
<div class="col-xxxl-12" *ngIf="saveFile">
    <nb-card>
        <nb-card-header>Save Churn data to CSV</nb-card-header>
        <nb-card-body>
            <div align="center" style="padding: 20px;">
                <span>churn-file.csv</span>
                <img src="./assets/images/logo/csv.png" width="30">
                <button type="button" (click)="saveIt()" class="btn btn-warning btn-tn">Save File</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-xxxl-12">
    <nb-card>
        <nb-card-header>Customer Stage Specific Levers 
                <div align="right" style="float: right; margin-left: 10px;"><button type="button" (click)="saveThis()" class="btn btn-success btn-tn">Save Churn Rate</button></div>
            <div align="right" style="float: right;"><button type="button" (click)="sim()" class="btn btn-primary btn-tn">Simulate Churn Rate</button></div>
            
        </nb-card-header>
        <nb-card-body>
            <div class="combined1">
                    <div align="left" style="padding:10px;">
                            <button type="button" (click)="goAdd()" class="btn btn-success btn-with-icon btn-sm" style="display:inline-block;">
                                <i class="ion ion-ios-plus-outline"></i>
                                <span>New Lever</span>
                            </button>
                        </div>
                        <div *ngFor="let lv of lever; let i = index" style="margin:10px;">
                                <button type="button" (click)="goRemove(i)" class="btn btn-warning btn-with-icon btn-tn" style="float:left;margin:10px;">
                                        <i class="ion ion-ios-minus-outline"></i>
                                        <span>{{ lv }}</span>
                                    </button>
                        </div>
                        
                    <div class="sec" *ngIf="addMode">
                    <div align="center">
                        <div class="dropdown col-11" style="display:inline-block; margin:10px;" ngbDropdown>
                                <button type="button" ngbDropdownToggle class="btn"
                                        [ngClass]="{ 'btn-outline-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
                                  {{ areai }}
                                </button>
                                <ul class="dropdown-menu" ngbDropdownMenu>
                                  <li class="dropdown-item" *ngFor="let t of areas" (click)="selectLever(t)">{{ t }}</li>
                                </ul>
                              </div>
                            </div>
                    <div align="center">
                        <div class="form-group col-3" style="display:inline-block;">
                            <label>Product Area</label>
                            <select class="form-control">
                                <option>Saving</option>
                                <option>Loan</option>
                                <option>Investment</option>
                                <option>Kids Plan</option>
                            </select>
                        </div>
                        <div class="form-group col-3" style="display:inline-block;">
                                <label>Launch Date</label>
                                <select class="form-control">
                                    <option>Immediate</option>
                                    <option>Next Quarter</option>
                                    <option>Next Fiscal Period</option>
                                </select>
                            </div>
                            <div class="form-group col-3" style="display:inline-block;">
                                    <label>Region</label>
                                    <select class="form-control">
                                        <option value="0">Area</option>
                                    <option value="1">Kalideres</option>
                                    <option value="4">Kembangan</option>
                                    <option value="3">Grogol</option>
                                    <option value="1">Kebon Jeruk</option>
                                    <option value="2">Cengkareng</option>
                                    <option value="5">Jakarta Barat</option>
                                    </select>
                                </div>
                            </div>
                            <div align="center">
                                    <div class="form-group col-3" style="display:inline-block;">
                                        <label>Customer Segment</label>
                                        <select class="form-control">
                                                <!-- <option *ngFor="let segment of segmentArray" [value]="segment.value">{{segment.name}}</option> -->
                                                <option value="0">Segment</option>
                                                <optgroup label="Life Stages">
                                                        <option value="10">Milenials</option>
                                                        <option value="40">Young Adult</option>
                                                        <option value="20">Family</option>
                                                        <option value="20">Traditional</option>
                                                      </optgroup>
                                                      <optgroup label="Customer Value">
                                                        <option value="25">Hi Net</option>
                                                        <option value="30">Deal Hunters</option>
                                                        <option value="20">Occasional</option>
                                                        <option value="25">Opportunity</option>
                                                      </optgroup>
                                                      <optgroup label="Banking Product">
                                                        <option value="40">Saving</option>
                                                        <option value="25">Credit Card</option>
                                                        <option value="20">Loan</option>
                                                        <option value="10">Insurance</option>
                                                        <option value="5">Investment</option>
                                                      </optgroup>
                                            </select>
                                    </div>
                                    <!--<div class="form-group col-3" style="display:inline-block;">
                                            <label>Coverage</label>
                                            <select class="form-control">
                                                <option>National</option>
                                                <option>Regional</option>
                                                <option>City Hosting</option>
                                            </select>
                                        </div>-->
                                       <div class="form-group col-3" style="display:inline-block;">
                                                <label>Budget</label>
                                                <select class="form-control">
                                                    <option>Minsk</option>
                                                    <option>Gomel</option>
                                                    <option>Brest</option>
                                                    <option>Grodno</option>
                                                    <option>Mogilev</option>
                                                </select>
                                            </div>
                                            <div  class="form-group col-3" style="display:inline-block;">
                                                    <input type="text" class="form-control" placeholder="0">
                                                </div>
                                        </div>
                                    <div align="center" style="margin:10px;">
                                        <button type="button" class="btn btn-primary" (click)="saveLever()">Save Lever</button>
                                        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                                    </div>
                    </div>
            </div>
            <div class="combined3">

                          <table class="ts-table ts-table-rounded" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Activity</th>
                                        <th>Budget Allocated</th>
                                        <th>Trial</th>
                                        <th>Onboarding</th>
                                        <th>Growth</th>
                                        <th>Renewal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td style="text-align: left; padding-left:10px;">BTL Marketing</td>
                                                <td style="text-align: center; background-color: darkcyan; font-weight: bold; color: white;">
                                                    <input type="text"value="70%" maxlength="3" size="3" [(ngModel)]="btl" (ngModelChange)="btlVal()" style="text-align: right;background-color: transparent;color: white; font-weight: bold;border: none;">%
                                                </td>
                                                <td>{{btl1}}%</td>
                                                <td>{{btl2}}%</td>
                                                <td>{{btl3}}%</td>
                                                <td>{{btl4}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;padding-left: 50px;">Personalized Email</td>
                                                <td></td>
                                                <td>{{pe1}}%</td>
                                                <td>{{pe2}}%</td>
                                                <td>{{pe3}}%</td>
                                                <td>{{pe4}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;padding-left: 50px;">Digital</td>
                                                <td></td>
                                                <td>{{dg1}}%</td>
                                                <td>{{dg2}}%</td>
                                                <td>{{dg3}}%</td>
                                                <td>{{dg4}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;padding-left: 50px;">Telemarketing</td>
                                                <td></td>
                                                <td>{{tl1}}%</td>
                                                <td>{{tl2}}%</td>
                                                <td>{{tl3}}%</td>
                                                <td>{{tl4}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left;padding-left: 50px;">Vouchers</td>
                                                <td></td>
                                                <td>{{vc1}}%</td>
                                                <td>{{vc2}}%</td>
                                                <td>{{vc3}}%</td>
                                                <td>{{vc4}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; padding-left:10px;">Customer Service</td>
                                                <td style="text-align: center; background-color: darkcyan; font-weight: bold; color: white;">
                                                        {{cs}}%
                                                </td>
                                                <td>{{cs1}}%</td>
                                                <td>{{cs2}}%</td>
                                                <td>{{cs3}}%</td>
                                                <td>{{cs4}}%</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: left; padding-left:10px;">Coverage Heatmap</td>
                                                <td></td>
                                                <td><img [src]="peta1" class="peta"></td>
                                                <td><img [src]="peta2" class="peta"></td>
                                                <td><img [src]="peta3" class="peta"></td>
                                                <td><img [src]="peta4" class="peta"></td>
                                                
                                            </tr>
                                </tbody>
                            </table>
            </div>
        </nb-card-body>
    </nb-card>
</div>
